body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

body > div:nth-child(2) {
  width: 500px;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  margin: 30px;
}
img {
  width: 200px;
  float: left;
  padding: 20px;
}


#productUL {
  width: 900px;
}

#resultUL {
  clear: both;
  list-style-type: circle;
  margin: 50px;
}