body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#chartDiv {
  width: 600px;
  outline: solid 1px orange;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  margin: 30px;
}

img {
  width: 200px;
  float: left;
  padding: 20px;
}


#productUL {
  outline: solid 1px green;
  /* width: 900px; */
}

#resultUL {
  clear: both;
  list-style-type: circle;
  margin: 50px;
  outline: solid 1px purple;
}